@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>标源账户密码重置</title>
    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link href="~/Style/css/aserts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Style/css/aserts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Style/css/aserts/css/form-elements.css" rel="stylesheet" />
    <link href="~/Style/css/aserts/css/style.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Style/css/aserts/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Style/css/aserts/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Style/css/aserts/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Style/css/aserts/ico/apple-touch-icon-57-precomposed.pngg">
</head>
<body>
    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>Bioyuan账户</strong> 登录</h1>
                        <div class="description">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>欢迎登录我们的网站</h3>
                                <p>请输入您的账号密码:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-key"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form role="form" action="/User/LoginIn" method="post" class="login-form">
                                <div class="form-group">
                                    <input type="text" name="LoginName" placeholder="登录名" class="form-username form-control" id="form-username">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="LoginPwd" placeholder="密码" class="form-username form-control" id="form-pwd">
                                </div>
                                <div style="height:20px;text-align:center;color:red;margin-top:10px;margin-bottom:10px;">
                                    <span id="login_info_id" class="login_info">@(@TempData["LoginFailed"] == null ? "" : @TempData["LoginFailed"])</span>
                                </div>
                                <button id="form-login-btn" type="submit" class="btn">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</button>
                            </form>
                        </div>
                        <div style="margin-top:10px;" >
                            <a style="float:left;" href="/User/ResetPassword">忘记密码？</a>
                            <a style="float:right;text-decoration:dashed;" href="/User/Register">
                                注册
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Javascript -->
    <script src="@Url.Content("~/Scripts/js/jquery-3.2.1.js")"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Scripts/js/bootstrap/bootstrapValidator.min.js")"></script>
    <script src="~/Style/css/aserts/js/jquery.backstretch.min.js"></script>
    <script src="~/Style/css/aserts/js/scripts.js"></script>

    <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->
    <script>



    </script>

    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 1280px; width: 1920px; z-index: -999999; position: fixed;">
        <img src="@Url.Content("~/Style/css/aserts/img/backgrounds/1.jpg")" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1903px; height: 1560px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -475.333px;">
    </div>


</body>
</html>