@model Models.Material

@{
    ViewBag.Title = "标源后台管理系统-标准物质管理";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";

    List<Models.Material> list = (List<Models.Material>)@ViewBag.materialList;

    int materialCount = list != null ? list.Count : 0;
}

<script src="@Url.Content("~/Areas/Admin/Style/js/bootstrap-paginator.min.js")"></script>
<script src="@Url.Content("~/Areas/Admin/Style/js/datetime-convert.js")"></script>

<div class="x-nav">
    <ol class="breadcrumb" id="breadcrumb">
        <li><a href="/Admin/Home/Index">首页</a></li>
        <li class="active">标准物质管理</li>
    </ol>
    <a class="refresh_btn" href="javascript:location.replace(location.href);" title="刷新">
        <span class="glyphicon glyphicon-refresh"></span>
    </a>
</div>
<div class="x-body">
    <div class="row search">
        <form class="form-inline row" role="form" method="post" action="/Admin/Home/ProductsManage/GetMaterialsByName">
            <div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="请输入标准物名称">
            </div>
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> 查找</button>
        </form>
    </div>
    <div class="clear"></div>
    <div class="user_info_title">
        <div style="float:left;">
            <button class="btn add_btn btn-primary" data-toggle="modal" data-target="#addMaterialModel"> <i class="glyphicon glyphicon-plus"></i> 添加</button>
        </div>
        <span class="x-right">共有标准物质：@materialCount 个</span>
    </div>
    <div class="table-div">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>标准物名称</th>
                    <th>样品图片</th>
                    <th>创建时间</th>
                    <th>修改时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="m_table" class="img_table">
                @*@{

                    for (int i = 0; i < materialCount; ++i)
                    {
                        Models.Material mat = list.ElementAt(i);
                        if (mat != null)
                        {
                            <tr>
                                <td>
                                    <span>@(i + 1)</span>
                                </td>
                                <td>
                                    <span>@mat.ProductName</span>
                                </td>
                                <td>
                                    <a>
                                        <img src="@Url.Action("ShowImage", "Home", new { id = @mat.Img })" height="60" width="90" />
                                    </a>
                                </td>
                                <td>
                                    <span>@mat.CreateTime</span>
                                </td>
                                <td>
                                    <span>@mat.ModifyTime</span>
                                </td>
                                <td class="td-status">
                                    <span>@(mat.Enable == 1 ? "启用" : "禁用")</span>
                                </td>
                                <td class="td-manage">
                                    <a class="enable_material" title="启用" href="javascript:;">
                                        <span class="glyphicon glyphicon-download"></span>
                                    </a>
                                    <a class="modify_material" data-toggle="modal" title="修改" href="javascript:;">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    <a class="delete_material" data-toggle="modal" data-target="#deleteMaterialModal" title="删除">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                                <td class="hidden">
                                    @mat.MaterialId
                                </td>
                            </tr>

                        }
                    }

                }*@
            </tbody>
        </table>
    </div>

    <!--翻页-->
    <div class="pagination-container">
        <ul id="m_pagination" class="pagination"></ul>
    </div>

</div>


<script src="@Url.Content("~/Areas/Admin/Style/js/material.js")"></script>
<script src="@Url.Content("~/Areas/Admin/Style/js/tag.js")"></script>
<script src="@Url.Content("~/Areas/Admin/Style/js/group-list.js")"></script>